body {
  background-color: #ececec;
}
.login-shadow{
  -webkit-box-shadow: 6px -2px 23px 5px rgba(122,117,122,0.3);
  -moz-box-shadow: 6px -2px 23px 5px rgba(122,117,122,0.68);
  box-shadow: 6px -2px 23px 5px rgba(122,117,122,0.3);
  width: 500px;
  border-radius: 10px;
  padding: 15px 20px;
  background-color: #fff;
}
.profile-box {
  width: 850px !important;
}
.profile-box {
  width: 1000px !important;
}
.login-page {
  height: 100vh;
  align-items: center;
}
table {
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}
.logout {
  float: right;
  padding-right: 15px;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

.hide {
  display: none;
}

.hidden {
  visibility: none;
}

hr:not([size]) {
  height: 1px;
}

.navbar {
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.btn.btn-primary {
  background-color: #427acd;
}

.ml-1 {
  margin-left: 85% !important;
}

.has-signup-error{
    .signup-error{
      background: transparent;
      color: red;
      border: none;
    }

    input, select{
      background-color: red;
      border-color: red;
      color: gray;
      font-weight: 500;
    }

    &.checkbox{
      label{
        &:before{
          background-color: red;
          border-color: red;
        }
      }
    }
}

.error-message {
  color: red;
}
