<div>
  <% flash.each do |key, value| %>
    <div class="flash <%= flash_class(key) %>">
      <%= value %>
      <button type="button" class="close btn btn-sm btn-primary" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
  <% end %>
</div>
